@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

/* *#timer {
    background-position: center;
    background-position: initial;
    background-size: auto;
} */

#countdown{
    color: aliceblue;
}


body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-image: url('Photos/StarWarsDeathStar1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

background-image {
   opacity: inherit;
}




h1 {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}

h2{
    color: aliceblue;
    opacity: 200%;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

p{
    color: aliceblue;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #38a;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}


li {
    padding: 5px;
    margin-top: 10px;
    background-color: lightslategrey;
    opacity: 70%;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }
